<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/base :: base(content=~{::section}, title='Distribuir Processo')}"
>
  <body>
    <section>
      <div th:replace="~{fragments/menu :: message-success}"></div>

      <h2 class="mb-4">Distribuir Processo</h2>

      <p>Processo ID: <span th:text="${processo.id}"></span></p>

      <form
        th:action="@{'/coordenadores/processos/distribuir/' + ${processo.id}}"
        method="post"
        class="row g-3"
      >
        <div class="col-md-6">
          <label for="professorId" class="form-label">Escolha o relator:</label>
          <select id="professorId" name="professorId" class="form-select">
            <option
              th:each="prof : ${professores}"
              th:value="${prof.id}"
              th:text="${prof.nome}"
            ></option>
          </select>
        </div>

        <div class="col-12 mt-4">
          <button type="submit" class="btn btn-success">Salvar</button>
          <a th:href="@{/coordenadores/processos}" class="btn btn-secondary"
            >Cancelar</a
          >
        </div>
      </form>
    </section>
  </body>
</html>
