<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/base :: base(content=~{::section}, title='Página Inicial da Aplicação')}"
>
  <body>
    <section>
      <div th:replace="~{fragments/menu :: message-success}"></div>
      <div class="card">
        <div class="card-header">
          <span>Vox</span>
        </div>
        <div class="card-body">
          <p>
            Bem vindo ao Vox, um sistema de gerenciamento de processos
            acadêmicos.
          </p>
          <p>
            Use a barra de navegação acima para acessar as diferentes seções do
            sistema.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
