<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Professor</title>
</head>
<body>
    <h1>Cadastrar Professor</h1>

    <p th:if="${mensagem}" th:text="${mensagem}" style="color:green;"></p>

    <form th:action="@{/professores}" th:object="${professor}" method="post">
        <input type="hidden" th:field="*{id}" />

        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" th:field="*{nome}" required /><br><br>

        <label for="fone">Fone:</label><br>
        <input type="text" id="fone" th:field="*{fone}" required /><br><br>

        <label for="matricula">Matrícula:</label><br>
        <input type="text" id="matricula" th:field="*{matricula}" required /><br><br>

        <label for="login">Login:</label><br>
        <input type="text" id="login" th:field="*{login}" required /><br><br>

        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" th:field="*{senha}" required /><br><br>

        <label for="coordenador">Coordenador:</label>
        <input type="checkbox" id="coordenador" th:field="*{coordenador}" /><br><br>

        <button type="submit">Salvar</button>
    </form>

    <br>
    <a th:href="@{/professores}">Voltar à lista</a>
</body>
</html>
