<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Processos</title>
    <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
        th { background: #f5f5f5; }
    </style>
</head>
<body>
    <h1>Processos</h1>

    <p><a th:href="@{/processos/form}">Novo processo</a></p>
    
    <form th:action="@{/processos}" method="get">

        <!-- Filtro de Assunto -->
        <label>Assunto:</label>
        <select name="assunto">
            <option value="">-- Todos --</option>
            <option th:each="a : ${assuntosItens}"
                th:value="${a.nome}"
                th:text="${a.nome}"
                th:selected="${a.nome == assuntoSelecionado}">
            </option>
        </select>

        <!-- Filtro de Status -->
        <label>Status:</label>
        <select name="status">
            <option value="">-- Todos --</option>
                <option th:each="s : ${statusItens}"
                    th:value="${s.name()}"
                    th:text="${s.name()}"
                    th:selected="${s == statusSelecionado}">
                </option>
        </select>

        <button type="submit">Filtrar</button>

         <button type="submit" name="ordenar" value="dataDesc">
        Ordenar por mais recentes ↓
        </button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Número</th>
                <th>Data de criação</th>
                <th>Status</th>
                <th>Descrição</th>
                <th>Assunto</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${processos}">
                <td th:text="${p.numero}">--</td>
                <td th:text="${#temporals.format(p.dataCriacao, 'dd/MM/yyyy')}">--/--/----</td>
                <td th:text="${p.status}">--</td>
                <td th:text="${p.descricao}">--</td>
                <td th:text="${p.assunto.nome}">--</td>
            </tr>
        </tbody>
    </table>
</body>
</html>